<ion-content>
  <ion-slides>

    <!-- Slide 1 -->
    <ion-slide class="c-slide">
      <div padding>
        Elije el dispositivo
      </div>
      <!-- <div padding class="c-center-content">
        <button class="c-action-btn" color="danger" ion-button block text-capitalize (click)="registerTestingService()">Crear device</button>
      </div> -->

      <div padding class="c-center-content">
        <button class="c-action-btn" color="danger" ion-button block text-capitalize (click)="searchDevices()">Buscar</button>
      </div>


      <ion-list radio-group>
        <div padding>
          Dispositivos en linea
        </div>

        <div padding class="c-center-content" *ngIf="!dataService.deviceServiceInfoList.length">
          <ion-badge color="danger">Ninguno aún</ion-badge>
        </div>

        <ion-item *ngFor="let item of dataService.deviceServiceInfoList" class="c-no-background">
          <ion-label color="dark" class="c-label">{{item.name}}</ion-label>
          <ion-radio [value]="item.name" (click)="selectDevice(item)"></ion-radio>
        </ion-item>

      </ion-list>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide class="c-slide">
      <div padding>
        Establece la temperatura
      </div>



      <ion-list>
        <div padding>
          Temperatura
        </div>
        <ion-badge color="danger">{{temp}}°</ion-badge>
        <ion-item class="c-no-background">
          <ion-range min="30" max="100" step="1" snaps="true" [(ngModel)]="temp" color="danger">
            <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
            <ion-icon range-right color="danger" name="thermometer"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-list>

    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide class="c-slide">

      <div *ngIf="visibleSendBtn">

        <div padding>
          Comienza tu solicitud
        </div>

        <div padding class="c-center-content">
          <button class="c-action-btn" color="danger" ion-button block text-capitalize (click)="start()">Enviar {{temp}}°</button>
        </div>

      </div>

      <div *ngIf="!visibleSendBtn">
        <div padding>
          <img *ngIf=" responseMsg && responseSuccess" src="assets/success.png">
          <img *ngIf="responseMsg && !responseSuccess" src="assets/stop.png">
        </div>

        <div padding>
          <h1>{{responseMsg}}</h1>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-footer class="c-footer">
    <div padding class="c-center-content">
      <ion-badge color="dark">Paso {{slides.getActiveIndex()+1}}</ion-badge>
    </div>
  </ion-footer>

</ion-content>